<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex *ngIf="metroData">
        <mat-grid-list cols="3" rowHeight="200px">
            <mat-grid-tile *ngFor="let city of metroData" (click)="goTo(city)" appHighlight>
                <mat-grid-tile-header>{{city.city}}</mat-grid-tile-header>
                <mat-list>
                    <mat-list-item>
                        <p matLine style="color: orange;"><b>Active cases: {{city.active}}</b></p><br>
                        <p matLine style="color: green;"><b>Recovered: {{city.recovered}}</b></p><br>
                        <p matLine style="color: red;"><b>Deceased: {{city.deceased}}</b></p><br>
                        <p matLine style="color: palevioletred;"><b>Confirmed: {{city.confirmed}}</b></p><br>
                    </mat-list-item>
                </mat-list>

            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>