<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex *ngIf="metroData">
        <mat-grid-list cols="3" rowHeight="200px">
            <mat-grid-tile *ngFor="let city of metroData" (click)="goTo(city)" appHighlight>
                <mat-grid-tile-header>{{city.city}}</mat-grid-tile-header>
                <p matLine>Active cases: {{city.active}}</p><br>
                <p matLine>Recovered: {{city.recovered}}</p><br>
                <p matLine>Deceased: {{city.deceased}}</p><br>
                <p matLine>Confirmed: {{city.confirmed}}</p><br>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>